<div class="footer">
  <p class="op"></p>
  <div class="footcont">
    <div class="odiv">
      <dl>
        <dt>鲁ICP备14222424号-2</dt>
        <dt>授权所有：山东省图书馆（山东省文化信息资源共享中心、山东省古籍保护中心）</dt>
        <dt>技术支持：青岛中科力天网络科技有限公司</dt>
        <dt>总浏览量 {{visitNum}} 次</dt>
      </dl>
      <div>
        <div class="ercode">
          <img src="assets/img/appcode.png" alt="">
          <p>扫一扫，下载</p>
          <p>“山东公共文化云APP”</p>
        </div>
        <div class="ercode">
          <img src="assets/img/wxgzh.jpg" alt="">
          <p>扫一扫，关注</p>
          <p>“山东公共文化云”</p>
        </div>
      </div>
    </div>
  </div>
</div>
