<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">专家姓名</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input nz-input [(ngModel)]="ename" name="ename"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4">专家账号</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input nz-input [(ngModel)]="zhang" name="zhang"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="type==0">
    <nz-form-label [nzSpan]="4">专家密码</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <input nz-input [(ngModel)]="pw" name="pw" type="password"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" >绑定节点</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <div nz-row  [nzGutter]="16">
        <div nz-col [nzSpan]="12" >
          <input nz-input  [(ngModel)]="actInfo.name" name="actname"  disabled="true"/>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-select [(ngModel)]="unitName" nzPlaceHolder="请选择节点" [ngModelOptions]="{standalone: true}">
            <nz-option *ngFor="let i of region" [nzValue]="i.label" [nzLabel]="i.label"></nz-option>
          </nz-select>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
<div class="customize-footer">
  <button nz-button nzType="primary" (click)="save()">保存</button>
  <button nz-button nzType="primary" (click)="cancel()" >取消</button>
</div>


