.layout{
  min-height: calc(100vh);
  background: #F7F7F7;
}
.cont{
  //background: #fff;
}
@media (max-width: 1000px){
  .layout{
    background: #fff;
  }
  .header,.footer{
    display: none;
  }
  .cont{
    width:100%;
    background: #fff;
  }
}
