<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">活动名称</nz-form-label>
    <nz-form-control [nzSpan]="17">
      {{info.activityOnlineName}}
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5">申请节点</nz-form-label>
    <nz-form-control [nzSpan]="17">
      {{info.region}}
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" >活动赋权</nz-form-label>
    <nz-form-control [nzSpan]="17">
        <nz-select [(ngModel)]="roleId" nzPlaceHolder="请选择角色" [ngModelOptions]="{standalone: true}">
         <nz-option *ngFor="let i of rolelist" [nzValue]="i.id" [nzLabel]="i.name"></nz-option>
        </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
<div class="customize-footer">
  <button nz-button nzType="primary" (click)="giveRole()">保存</button>
  <button nz-button nzType="primary" (click)="cancel()" >取消</button>
</div>


