@import "../login/login.component.scss";
.ant-checkbox-wrapper{
  line-height: 24px;
  color:#666666;
}
.login-form-button{
  margin-bottom: 25px;
}
.ant-btn__block{
  height:48px;
  width:100%;
  color: #FE8625;
  border-color: #FE8625;
}
.flogin{
  padding:15px 25px 0;
}
@media (max-width: 1000px){
  .flogin{
    padding:0;
  }
  .ant-btn__block{
    height:.4rem;
    text-align: center;
  }
}
