<nz-tabset [(nzSelectedIndex)]="selindex">
  <nz-tab nzTitle="报名指南">
    <ng-template nz-tab>
      <nz-form-item>
      <nz-form-label [nzSpan]="3">指南标题</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input nz-input [(ngModel)]="notename" name="notename"  [disabled]="disabled"/>
      </nz-form-control>
    </nz-form-item>
      <nz-form-item>
      <nz-form-label [nzSpan]="3">详细描述</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <app-editor (onPostData)="PostData1($event)" [content]="editorContent1" [disable]="disabled"></app-editor>
      </nz-form-control>
    </nz-form-item>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="版权信息">
    <ng-template nz-tab>
      <nz-form-item>
      <nz-form-label [nzSpan]="3">详细描述</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <app-editor (onPostData)="PostData2($event)" [content]="editorContent2" [disable]="disabled"></app-editor>
      </nz-form-control>
    </nz-form-item>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="通知公告">
    <ng-template nz-tab>
      <app-announce [actId]="actId"></app-announce>
    </ng-template>
  </nz-tab>
</nz-tabset>
<div class="customize-footer" *ngIf="selindex !=2">
  <button nz-button nzType="primary" (click)="save()">保存</button>
  <button nz-button nzType="primary" (click)="cancel()" >取消</button>
</div>
